# 依存関係
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Google Apps Script
.clasp.json
.clasprc.json

# 一時ファイル
*.tmp
*.temp

# OS生成ファイル
.DS_Store
Thumbs.db

# IDEファイル
.vscode/
.idea/
*.swp
*.swo

# ログファイル
*.log
